<ng-container *ngIf="cartService.cart$ | async as cart">
    <ng-container *ngIf="cart.items.length > 0; else startShopping">
        <app-cart-items [cartItems]="cart.items"></app-cart-items>
        <div class="flex justify-between mt-4">
            <button mat-raised-button routerLink="/home">Continue shopping</button>
            <button mat-raised-button color="primary" (click)="onProceedToCheckout()">
                Proceed To Checkout
            </button>
        </div>
    </ng-container>
</ng-container>
<ng-template #startShopping>
    <mat-card class="max-w-7xl mx-auto">
        <p>
            Your cart is empty.
            <button mat-raised-button routerLink="/home">Start shopping</button>
        </p>
    </mat-card>
</ng-template>
