<div class="w-[360px] mt-9 mx-auto">
    <h1 class="text-center">Create an account</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
          class="flex flex-col">
        <hr>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Username *" formControlName="username">
            <mat-error *ngIf="username?.errors?.['required'] && username?.touched">
                Username is required.
            </mat-error>
            <mat-error *ngIf="username?.errors?.['minlength'] || username?.errors?.['maxlength']
        && username?.touched">
                Username has to be between 6 and 30 characters long.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email *" formControlName="email">
            <mat-error *ngIf="email?.errors?.['required'] && email?.touched">
                Email is required.
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email'] && email?.touched">
                Invalid email format entered.
            </mat-error>
            <mat-error *ngIf="email?.errors?.['taken'] && email?.touched">
                Email is already taken.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput type="password" placeholder="Password *" formControlName="password">
            <mat-error *ngIf="password?.errors?.['minlength'] || password?.errors?.['maxlength']
        || password?.errors?.['required'] && password?.touched">
                Password has to be between 8 and 48 characters long.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput type="password" placeholder="Repeat password *" formControlName="passwordRepeat">
            <mat-error *ngIf="passwordRepeat?.errors?.['required'] && passwordRepeat?.touched">
                Please repeat the password.
            </mat-error>
            <mat-error *ngIf="passwordRepeat?.errors?.['passwordMismatch'] && passwordRepeat?.touched">
                Passwords don't match.
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid"
                class="mt-3"
        >Register</button>
    </form>
    <hr class="mt-9 border-1 w-2/3 m-auto">
    <div class="flex flex-col mt-6 mb-12">
        <p class="text-center">Already have an account?</p>
        <button mat-raised-button (click)="navigateToLogin()">Log in</button>
    </div>
</div>

