.form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.form-section {
    min-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-buttons {
    flex-basis: 100%;
    margin-right: 0;
}
