<h1 class="text-xl font-bold mb-2">Review and confirm</h1>
<div class="bg-white p-4 rounded shadow">
    <div *ngIf="shippingAddress; else enterShippingAddress">
        <h2 class="font-medium text-base mb-2">Shipping Address:</h2>
        <p>{{ shippingAddress.name }}</p>
        <p>{{ shippingAddress.street }}, {{ shippingAddress.city }}</p>
        <p>{{ shippingAddress.zipCode }}</p>
        <p>{{ shippingAddress.country }}</p>
        <p>{{ shippingAddress.phone }}</p>
    </div>
    <ng-template #enterShippingAddress>
        <p>Please choose the shipping address to shipping address info.</p>
    </ng-template>
    <hr>
    <div class="mt-4">
        <h2 class="font-medium text-base mb-2">Items in cart</h2>
        <div *ngFor="let item of cartItems" class="flex justify-between items-center border-b border-gray-200 py-2">
            <p class="text-gray-600">{{ item.name }} x {{ item.quantity }}</p>
            <p>${{ item.price * item.quantity }}</p>
        </div>
        <div class="flex justify-between items-center pt-2">
            <p class="text-gray-600">Total</p>
            <p>${{ total }}</p>
        </div>
    </div>
    <div class="mt-4" *ngIf="paymentOption">
        <h2 class="font-medium text-base mb-2">Payment Option</h2>
        <p *ngIf="paymentOption.type === 'Credit card'; else nonCardPayment">{{ paymentOption.type }} ending in {{ last4Digits }}</p>
        <ng-template #nonCardPayment><p>{{ paymentOption.type }}</p></ng-template>
    </div>
    <div class="mt-4">
        <button mat-raised-button color="primary" (click)="onConfirmOrder()">Confirm Order</button>
    </div>
</div>
