<mat-card *ngIf="product" [ngClass]="{'text-center': !fullWidthMode}" >
    <div [ngClass]="{'flex': fullWidthMode}" class="p-5">
        <img class="mb-1 mx-auto product-image"
             [ngClass]="{'h-200px': !fullWidthMode, 'h-360px': fullWidthMode}"
             [src]="product.image"
             alt=""
        />
        <div class="w-full"
             [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}"
        >
            <div>
                <h5>{{product.category}}</h5>
                <p class="truncate hover:whitespace-normal">{{product.name}}</p>
                <p *ngIf="fullWidthMode">{{product.description}}</p>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">{{ product.price | currency: 'EUR'}}</span>
                <div class="action-buttons" [ngClass]="{'flex-justify-end': !fullWidthMode}">
                    <button *ngIf="editable" mat-button (click)="onEditProduct()">
                        <mat-icon class="text-gray-500">edit</mat-icon>
                    </button>
                    <button *ngIf="editable" color="warn" mat-flat-button (click)="onDeleteProduct()">Delete</button>
                    <button *ngIf="!editable" (click)="onAddToCart()">
                        <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-card>
