<mat-toolbar class="border-x justify-between">
    <a routerLink="home">Home</a>
    <div class="flex">
        <app-user-menu *ngIf="(this.authService.user$ | async) as user; else loginButton"
                       [username]="user.username">
        </app-user-menu>
        <ng-template #loginButton>
            <button mat-raised-button color="primary"
                    class="mr-9 mb-2.5"
                    (click)="onNavigateToLogin()"
            >Log in</button>
        </ng-template>
        <app-cart-menu></app-cart-menu>
    </div>
</mat-toolbar>
