table {
    width: 100%;
    overflow: auto;
    display: block;
}

th.mat-header-cell {
    color: #1f2937;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 16px;
    text-align: start;
    border-bottom-width: 1px;
    border-bottom-color: #e5e7eb;
}

td.mat-cell {
    color: #374151;
    font-size: 14px;
    line-height: 20px;
    padding: 16px;
    border-bottom-width: 1px;
    border-bottom-color: #e5e7eb;
}
