<div class="w-[360px] mt-9 mx-auto">
    <h1 class="text-center">Sign in</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
          class="flex flex-col">
        <hr>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email" formControlName="email" trim>
            <mat-error *ngIf="email?.errors?.['required'] && email?.touched">
                Please provide an email.
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email'] && email?.touched">
                That doesn't look like a valid email.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="password?.errors?.['required'] && password?.touched">
                Please provide a password.
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" class="mt-3"
        >Sign in</button>
    </form><hr class="mt-9 border-1 w-2/3 m-auto">
    <div class="flex flex-col mt-6">
        <p class="text-center">Don't have an account?</p>
        <button mat-raised-button (click)="navigateToRegister()">Sign up</button>
    </div>
</div>

