<mat-drawer-container class="min-h-full">
    <app-profile-header></app-profile-header>
    <div class="max-w-7xl m-auto flex justify-between">
        <div class="w-5/12 ml-6 mt-6">
            <h2 class="text-center">Your addresses</h2>
            <mat-accordion>
                <mat-expansion-panel hideToggle [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-base">New address</mat-panel-title>
                        <mat-icon>add</mat-icon>
                    </mat-expansion-panel-header>
                    <app-new-address (addAddress)="onAddAddress($event)" ></app-new-address>
                </mat-expansion-panel>
                <app-address-box *ngFor="let address of addresses | findPrimaryAddress | async"
                                 [address]="address"
                                 (deleteAddress)="onDeleteAddress($event)"
                                 class="w-full"
                ></app-address-box>
            </mat-accordion>
        </div>
        <div class="w-5/12 mr-6 mt-6">
            <h2 class="text-center">Your orders</h2>
        </div>
    </div>
</mat-drawer-container>
