<div class="flex">
    <button mat-menu-item class="min-width-btn" (click)="onOrdersClicked()">
        Orders
        <mat-icon>description</mat-icon>
    </button>
    <button mat-menu-item class="min-width-btn" *ngIf="!authService.isAdmin()" (click)="onAddressesClicked()">
        Addresses
        <mat-icon>streetview</mat-icon>
    </button>
    <button mat-menu-item class="min-width-btn" *ngIf="!authService.isAdmin()" (click)="onAccountClicked()">
        Account
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-menu-item class="min-width-btn" *ngIf="authService.isAdmin()" (click)="onProductsClicked()">
        Products
        <mat-icon>storefront</mat-icon>
    </button>
    <button mat-menu-item class="min-width-btn" *ngIf="authService.isAdmin()" (click)="onUsersClicked()">
        Users
        <mat-icon>group</mat-icon>
    </button>
    <button mat-menu-item class="min-width-btn" (click)="onLogout()">
        Log out
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>
