<mat-card class="p-4 m-2">
    <div class="flex items-center justify-between">
        <h2 class="text-xl font-semibold">Order ID: {{order.id}}</h2>
        <div class="flex items-center justify-between">
            <button mat-stroked-button color="primary" class="m-2" (click)="editMode = !editMode">
                Change order status
            </button>
            <button mat-raised-button color="warn" class="m-2" (click)="deleteOrder()">
                Delete Order
            </button>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
            <p class="text-lg font-semibold">Shipping Address</p>
            <p>{{order.shippingStreet}}, {{order.shippingCity}}, {{order.shippingCountry}}</p>
        </div>
        <div *ngIf="order.billingStreet">
            <p class="text-lg font-semibold">Billing Address</p>
            <p>{{billingAddress}}</p>
        </div>
        <div>
            <p class="text-lg font-semibold">Payment Method</p>
            <p>{{order.paymentMethod}}</p>
        </div>
        <div>
            <p class="text-lg font-semibold">Order Status</p>
            <p *ngIf="!editMode">{{order.status}}</p>
            <mat-form-field *ngIf="editMode" appearance="outline">
                <mat-select [(ngModel)]="editedStatus">
                    <mat-option value="created">Created</mat-option>
                    <mat-option value="confirmed">Confirmed</mat-option>
                    <mat-option value="shipped">Shipped</mat-option>
                    <mat-option value="deleted">Deleted</mat-option>
                </mat-select>
            </mat-form-field>
            <ng-container *ngIf="editMode" class="flex justify-between">
                <button class="ml-3" mat-raised-button color="primary" (click)="saveEdit()">Save</button>
                <button class="ml-3" mat-raised-button color="warn" (click)="onCancelEdit()">Cancel</button>
            </ng-container>
        </div>
        <div>
            <p class="text-lg font-semibold">Created At</p>
            <p>{{order.createdAt | date:'longDate'}}</p>
        </div>
        <div *ngIf="order.updatedAt">
            <p class="text-lg font-semibold">Last Updated At</p>
            <p>{{order.updatedAt | date:'longDate'}}</p>
        </div>
        <div>
            <p class="text-lg font-semibold">Total</p>
            <p>{{order.total | currency: 'EUR' }}</p>
        </div>
        <div *ngIf="order.paypalTransactionId">
            <p class="text-lg font-semibold">PayPal Transaction ID</p>
            <p>{{order.paypalTransactionId}}</p>
            <p class="text-lg font-semibold">PayPal Transaction Status</p>
            <p>{{order.paypalStatus}}</p>
        </div>
    </div>
    <div>
        <p class="text-lg font-semibold">Items ordered</p>
        <div class="mt-4 grid grid-cols-3 gap-4">
            <div *ngFor="let item of order.items">
                <div>
                    <h4 class="text-md font-semibold">{{item.name}}</h4>
                    <p class="text-sm">{{item.quantity}} x {{item.price | currency: 'EUR' }}</p>
                </div>
            </div>
        </div>
    </div>
</mat-card>
